@mixin border_1px($type, $color: #e6e6e6) {
  & {
    @if $type=='' {
      border: 1PX solid $color;
    }

    @else if $type=='left' {
      border-left: 1PX solid $color;
    }

    @else if $type=='bottom' {
      border-bottom: 1PX solid $color;
    }

    @else if $type=='right' {
      border-right: 1PX solid $color;
    }

    @else if $type=='top' {
      border-top: 1PX solid $color;
    }


    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {

      @if $type=='' {
        border: .5PX solid $color;
      }

      @else if $type=='left' {
        border-left: .5PX solid $color;
      }

      @else if $type=='bottom' {
        border-bottom: .5PX solid $color;
      }

      @else if $type=='right' {
        border-right: .5PX solid $color;
      }

      @else if $type=='top' {
        border-top: .5PX solid $color;
      }


    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {

      @if $type=='' {
        border: .333PX solid $color;
      }

      @else if $type=='left' {
        border-left: .333PX solid $color;
      }

      @else if $type=='bottom' {
        border-bottom: .333PX solid $color;
      }

      @else if $type=='right' {
        border-right: .333PX solid $color;
      }

      @else if $type=='top' {
        border-top: .333PX solid $color;
      }


    }

  }

}

.border {
  @include border_1px('')
}

.border-top {
  @include border_1px('top')
}

.border-left {
  @include border_1px('left')
}

.border-right {
  @include border_1px('right')
}

.border-bottom {
  @include border_1px('bottom')
}


/*省略号*/

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}